@media screen and (min-width: 700px) { }/* Tablet */
@media screen and (min-width: 480px){ } /* Mobil */

/* Ovenstående klar til at kopiere i den del der skal ændres for at det hele passer sammen */


h1 {

    font-family: almaq rough;
    color: blue;
    font-size: 6em;
    text-align: center;

}
    


body {
    font-family: anton;
    color: blue;
    background-color: black;
    margin: 1em;
}

/* Grid delen her er kun lige kopieret fra et andet dokument */

#mitgrid div {
    font-size: 1em;
    color: blue;
    text-align: center;
    border-color: white;
    border-width: 2px;
    border-style: solid;
}

#mitgrid { 
    
    display: grid;
    grid-template-columns: ;
    grid-template-rows: ; 
    grid-template-areas:  
    ""
  

    }

#h2 {
    grid-area: ;
}

#tekst1 {

    grid-area: ;
}

#reklame2 {

    grid-area: ;
}

#tekst2 {

    grid-area: ;
}


#logo {

    grid-area: ;
}

#logotekst {

    grid-area: ;
}

#portrait {

    grid-area: ;
}

#portraittekst {

    grid-area: ;
}

#dyr {

    grid-area: ;
}

#dyrtekst {

    grid-area: ;
}