
h1 {

  font-family: Anton;
  color:blue(233, 233, 247);
  size: 4em;
  margin-top: 0;
  grid-area: 
}

body {
  font-family: 'Anton', sans-serif;
  color: blue;
  background-color: black;
  margin: 0.5em;
}

#reklame {
  width: 100%;
}

.container {
  position: relative;
  width: 100%;
}

.image {
  display: block;
  width: 100%;
  height: auto;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 1;
  transition: .5s ease;
  background-color: transparent;
}

.container:hover .overlay {
  opacity: 1;
}

.text {
  color:rgb(255, 255, 255);
  font-size: 17px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

#mitgrid { 
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-areas: 
  "a a"
  "b b"
  "c d"
  "e e"
  "f f"
  "g g";
  }

#tekst1 {
  font-size: 1.5em;
  grid-area: b;
}

#logo ul li {
  list-style: none;
  grid-area: c;
}

#logo ul li img {
  height: 42px;
  width: 42px;

}

#logotekst {
  font-size: 2em;
  grid-area: d;
}

#portrait {
  grid-area: e;
}

#dyr {
  grid-area: f;
}

#dyrtekst {
  grid-area: g;
}

@media screen and (min-width: 700px) { 
header {
  font-size: 4em;
}

.container {
  position: relative;
  width: 100%;
}

.image {
  display: block;
  width: 100%;
  height: auto;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: transparent;
}

.container:hover .overlay {
  opacity: 1;
}

.text {
  color:rgb(255, 255, 255);
  font-size: 4em;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}
 
}/* tablet liggende */

@media screen and (min-width: 400px){
header { 
  font-size: 4em; }

  
} /* tablet stående*/
